@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Montserrat, sans-serif;
}

#app {
  overflow: hidden;
}

.light-theme {
  --text-color: theme('colors.light.text');
  --background-color: theme('colors.light.background');
  --secondary-color: theme('colors.light.secondary');
  --pink-color: #e5a1aa;
  --blue-color: #8395cd;
  --green-color: #7ad0ac;
}

.dark-theme {
  --text-color: theme('colors.dark.text');
  --background-color: theme('colors.dark.background');
  --secondary-color: theme('colors.dark.secondary');
  --pink-color: #fff;
  --blue-color: #fff;
  --green-color: #fff;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(0);
  }
}
